* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-2P: 'Press Start 2P', cursive;
  --color-white: #ffffff;
  --color-black: #010101;
  --color-pink: #f0a8ea;
  --color-pink-darker: #f553e5;
  --width-container: 64rem;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  font-size: calc(1rem + 0.1vw);
}

a {
  color: var(--color-pink-darker);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-2P);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: var(--width-container);
  width: 100%;
}
