---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticlesList from '../../components/ArticlesList/ArticlesList.tsx';

const articles = Astro.fetchContent('./*.md');
---

<style lang="scss">
  .articles-container {
    overflow: hidden;

    h1 {
      line-height: 3rem;
      margin-top: 2rem;
      text-align: center;
    }
  }

  .marin {
    display: block;
    height: auto;
    margin: 2rem auto 0 auto;
    object-fit: cover;
    transform: translate(-25%, 0%);
    width: 200%;
  }
</style>

<BaseLayout title="waifus anonymous | index of all articles">
  <main class="articles-container">
    <h1>Articles</h1>

    <div class="container">
      <ArticlesList articles={articles} client:load />
      <img class="marin" src="/assets/waifusanonymous_articles_placeholder.png" alt="" />
    </div>
  </main>
</BaseLayout>
