#content {
  background-color: var(--color-white);
  flex-direction: column;
  padding-top: 100px;
  min-height: 100vh;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.article {
  line-height: 1.75rem;
  margin: 1rem auto;
  max-width: 42rem;
  min-height: 100vh;
  padding: 1rem;
  word-break: break-word;
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.75;
    margin-top: 1.5rem;
  }

  p, ul, li, strong {
    margin-top: 1rem;
  }

  table {
    border: 1px solid var(--color-black);
    margin-top: 2rem;
    margin-bottom: 2rem;

    td {
      padding: 0.5rem;
    }
  }

  img {
    display: block;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: contain;
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &--footer {
    border-top: 3px solid var(--color-black);
    margin-top: 2rem;

    * {
      margin-top: 1rem;
    }
  }

  &--back-link {
    display: block;
    margin: 2rem 0;
  }
}
