---
import BaseLayout from '../layouts/BaseLayout.astro';
const articles = Astro.fetchContent('../pages/articles/*.md');
---

<style lang="scss">
  .articles-container {
    overflow: hidden;

    h1 {
      line-height: 3rem;
      margin-top: 2rem;
      text-align: center;
    }
  }

  .none-message {
    margin-top: 2rem;
    text-align: center;

    strong,
    em {
      line-height: 2rem;
    }

    img {
      display: block;
      height: auto;
      margin: 2rem auto 0 auto;
      object-fit: cover;
      transform: translate(-25%, 0%);
      width: 200%;
    }
  }
</style>

<BaseLayout title="waifus anonymous | index of all articles">
  <main class="articles-container">
    <h1>Articles</h1>

    <div class="container">
      {articles.length ? (
        <ul>
          {articles.map((article) => (
            <li>{article.title}</li>
          ))}
        </ul>
      ) : (
        <div class="none-message">
          <strong>NOTHING YET</strong>
          <br />
          <em>check back soon though!!</em>
          <img src="/assets/waifusanonymous_articles_placeholder.png" alt="" />
        </div>
      )}
    </div>
  </main>
</BaseLayout>
