---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="waifus anonymous | home">
  <main>
    <h1>Hello World</h1>
    <p>some text</p>
    <a href="/test">a link</a>
  </main>
</BaseLayout>
