---
import BaseLayout from '../layouts/BaseLayout.astro';
import IndexBanner from '../components/IndexBanner/IndexBanner.tsx';
---

<BaseLayout title="waifus anonymous | home">
  <main class="container">
    <IndexBanner client:load />
  </main>
</BaseLayout>
